{% extends 'home/index.html' %}

{% block content %}
    <div class="container">
        <div class="row" id="contact">
            <div class="col-md-12">
                <br><br>
                <h3 class="text-center"><u>CONTACT</u></h3>
                <br>
                <p>For product demo and enquires please drop an email to :</p>
                <a href="mailto:info@360degree.ai">info@360degree.ai</a>
                <p>We will respond within 24 hours.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}