{% extends 'base.html' %}

{% block pagetitle %}
    Company Users {{ block.super }}
{% endblock %}

{% block toplinks %}
{{ block.super }}
<div class="row">
    <ul class="nav responsive-tab nav-material nav-material-white">
        <li>
            <a class="nav-link active" href="{% url 'company-user-listing' %}"><i class="icon icon-list"></i>Manage My Users</a>
        </li>
        <li>
            <a class="nav-link" href="{% url 'create-company-user-info' %}"><i class="icon icon-plus-circle"></i> Add Users</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <br>
        <div class="card mb-3 shadow no-b r-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover data-tables" data-options='{ "paging": false; "searching":false}'>
                            <!-- Table heading -->
                            <thead>
                                <tr class="no-b">
                                    <th>User Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Business Phone</th>
                                    <th>Email</th>
                                    <th>Admin</th>
                                    <th>Date/Time</th>
                                    <th>Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                                
                                {% if object_list %}
                                {% for company_user in object_list %}
                                <tr>
                                    <td>{{company_user.id}}</td>
                                    <td>{{company_user.user.first_name}}</td>
                                    <td>{{company_user.user.last_name}}</td>
                                    <td>{{company_user.user.mobile_number}}</td>
                                    <td>{{company_user.user.email}}</td>
                                    <td>
                                        {% if company_user.user.user_type == 2 %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td>{{company_user.created_at}}</td>
                                    <td>
                                        {% if company_user.user.is_active == True %}
                                            Active
                                        {% else %}
                                            InActive
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{%url 'edit-company-user-info' id=company_user.id %}"><i class="icon-edit"></i></a>                                        
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{{ block.super }}
<script>
    $('.company-user-delete').on('click', function () {
        dom_document = $(this);
        $.confirm({
            title: 'Company User Delete',
            content: '<strong>Are you sure?</strong>',
            icon: 'fa fa-question-circle',
            animation: 'scale',
            closeAnimation: 'scale',
            opacity: 0.5,
            buttons: {
                'confirm': {
                    text: 'Yes',
                    btnClass: 'btn-blue',
                    action: function () {
                        company_user_id = $('.company-user-delete').data("id");
                        $.ajax({
                            url: '/ajax/delete-company-user-info/' + company_user_id,
                            dataType: 'json',
                            success: function (data) {
                                if (data.status) {
                                    $.alert('<strong>Information Deleted Successfully</strong>');
                                    dom_document.closest('tr').remove();
                                } else {
                                    $.alert('<strong>Information Deletion Failed</strong>');
                                }
                            }
                        });
                    }
                },
                cancel: {
                    text: 'No',
                    action: function () {
                        backgroundDismiss: true
                    }
                },
            }
        });
    });
</script>
{% endblock %}