{% extends 'base.html' %}

{% block pagetitle %}
    Documents {{ block.super }}
{% endblock %}

{% block toplinks %}
<div class="row">
    <ul class="nav responsive-tab nav-material nav-material-white">
        <li>
            <a class="nav-link" href="{% url 'document-info-listing' %}"><i class="icon icon-list"></i>All Documents</a>
        </li>
        <li>
            <a class="nav-link {% if not form.instance.id %} active {% endif %}" href="{% url 'create-company-info' %}"><i
                    class="icon icon-plus-circle"></i> Add New Documents</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <br>
        <div class="card mb-3 shadow no-b r-0">
            <div class="card-body">
                <form method="post" name="document_form" id="document_form" enctype="multipart/form-data" novalidate="novalidate">
                    {% csrf_token %}                    
                    {% if form.instance.id %}
                        <input type="hidden" name="user" value="{{ form.user.value }}">
                    {% else %}
                        <input type="hidden" name="user" value="{{ request.user.id }}">
                    {% endif %}

                    <div class="row">

                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="form-label">Document Type *</label>
                                {{ form.document_name}}
                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="form-label">Name as appears in the document *</label>                                
                                {{ form.name_in_document }}
                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="form-label">Issued By</label>
                                {{ form.issued_by }}
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="row">

                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="form-label">Date of Issue</label>
                                {{ form.date_of_issue }}
                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="form-label">Valid Till</label>
                                {{ form.valid_till }}
                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="form-label">Country *</label>
                                {{ form.country }}
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="form-label">State *</label>
                                {{ form.state }}
                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="form-label">City *</label>
                                {{ form.city }}
                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="form-label">Upload Documents</label>                                
                                <input type="file" name="file_name" id="id_file_name" class="form-control r-0 light s-12" multiple>
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="row text-center">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-md s-12 btn-primary">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block footer %}
{{ block.super }}
<script>
    jQuery(function () {
        jQuery('.date-picker').datetimepicker({
            format: 'Y-m-d',
            onShow: function (ct) {
                this.setOptions({
                    maxDate: jQuery('#date_timepicker_end').val() ? jQuery('#date_timepicker_end').val() : false
                })
            },
            timepicker: false
        });
    });
</script>
{% endblock %}