{% extends 'base.html' %}

{% block pagetitle %}
    Setup RPO {{ block.super }}
{% endblock %}

{% block toplinks %}
<div class="row">
    <ul class="nav responsive-tab nav-material nav-material-white">
        <li>
            <a class="nav-link active" href="{% url 'sysrpo-listing' %}"><i class="icon icon-list"></i>Manage
                RPOs</a>
        </li>
        <li>
            <a class="nav-link" href="{% url 'create-sysrpo-info' %}"><i class="icon icon-plus-circle"></i> Add New
                RPO</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <br>
        <div class="card mb-3 shadow no-b r-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover data-tables" data-options='{ "paging": false; "searching":false}'>
                            <!-- Table heading -->
                            <thead>
                                <tr class="no-b">
                                    <th>RPO Name</th>
                                    <th>RPO ID</th>
                                    <th>Contact Person</th>
                                    <th>Email</th>
                                    <th>Contract End Date</th>
                                    <th>Status</th>                                    
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                                
                                {% if object_list %}
                                {% for rpo in object_list %}
                                <tr>
                                    <td>{{rpo.rpo_company_name}}</td>
                                    <td>{{rpo.rpo_id}}</td>
                                    <td>{{rpo.company_admin}}</td>
                                    <td>{{rpo.email}}</td>                                    
                                    <td>{{rpo.contract_end_date}}</td>
                                    <td>
                                        {% if rpo.contract_status == True %}
                                            Active
                                        {% else %}
                                            InActive
                                        {% endif %}                                        
                                    </td>
                                    <td>
                                        <a href="{%url 'edit-rpo-info' id=rpo.id %}"><i class="icon-edit"></i></a>
                                        &nbsp;
                                        {% if rpo.upload_contract %}
                                            <a href="{{rpo.upload_contract.url}}"><i class="icon-download"></i></a>
                                        {% else %}
                                            <a href="#" class="disabled"><i class="icon-download"></i></a>
                                        {% endif %}
                                        &nbsp;
                                        <a href="#"><i class="icon-trash text-danger-o text-danger rpo-delete" data-id="{{ rpo.user_id }}"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{{ block.super }}
<script>
    $('.rpo-delete').on('click', function () {
        dom_document = $(this);
        $.confirm({
            title: 'RPO Delete',
            content: '<strong>Are you sure?</strong>',
            icon: 'fa fa-question-circle',
            animation: 'scale',
            closeAnimation: 'scale',
            opacity: 0.5,
            buttons: {
                'confirm': {
                    text: 'Yes',
                    btnClass: 'btn-blue',
                    action: function () {
                        rpo_id = $('.rpo-delete').data("id");
                        $.ajax({
                            url: '/ajax/delete-rpo-info/' + rpo_id,
                            dataType: 'json',
                            success: function (data) {
                                if (data.status) {
                                    $.alert('<strong>Information Deleted Successfully</strong>');
                                    dom_document.closest('tr').remove();
                                } else {
                                    $.alert('<strong>Information Deletion Failed</strong>');
                                }
                            }
                        });
                    }
                },
                cancel: {
                    text: 'No',
                    action: function () {
                        backgroundDismiss: true
                    }
                },
            }
        });
    });
</script>
{% endblock %}